body{
	font-family: 'Merriweather', serif;
	font-size:14px;
	background: #FBF8F8;
}
/*media queries*/
@media (min-width: 1200px){
.container {
    /*width: 1070px;*/
}
}
#root{
	width: 100%;
}
/*main-container*/
.wrapper{
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	min-height: 100vh;
}
.flex-container{
	display: flex;
}
.flex-container h1{
	text-align: center;
}
.favoritesList{
	flex: 1 0;
}
.items{
	flex: 1 500px;
	padding: 0 20px 0 20px;
}
.itemsInCart{
	flex: 1 0;
}
.flex-container>div{
	flex-grow: 1;
	}
/*item*/
.item-container{
	border: 1px solid #DFC7C7;
	display: flex;
	background: #FBFAF8;
	margin-bottom: 40px;
	box-shadow: 5px 5px 5px #eee;
}
.item-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.item-details-wrapper{
	display: flex;
}
.item-pic{
	display: flex;
	align-items: center;
	padding: 15px;
}
.item-details-box{
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}
.price-label{
	color: #E76F47;
	font-size: 1.8em;
}
.item-details{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.total-price{
	color: #E76F47;
	font-size: 2.5em;
}
/*cart*/
.cart{
text-align: center;
}
.item-in-cart-price{
	width: 50%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
/*buttons, etc - bootstrap overwrite*/
.btn-group{
	padding: 10px;
}
.glyphicon {
	top:2px;
    padding-left: 5px;
    padding-right: 5px;
}
.btn {
    display: inline-block;
    padding: 10px 10px;
    }
.btn:focus,.btn:active {
   outline: none !important;
}
/* btns related to fav-list */
.btn-fav{
	background: #ffaeae;
	color: white;
}
.btn-in-fav{
	background: #ffaeae;
	margin-bottom: 10px;
}
